@import "../../sass/variables";

* {
  //   outline: solid 1px red;
}
.load {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  img {
    height: 2rem;
  }
}

.body {
  padding: 0;
  margin: 0;
}

.cabeza {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.commentBox {
  //  *{outline:solid 1px red}
  height: 100%;
  width: 95%;
  margin: 0.5rem 0;
  .photoNameBox {
    display: flex;
    align-items: flex-start;

    .imgBox {
      height: 100%;
      display: flex;

      img {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        margin-right: 0.3rem;
      }
    }
    .commentTextBox {
      border-radius: 5px;
      // border: solid 1px gray;
      width: 100%;
      p {
        font-weight: 400;
        text-align: left;
        font-size: 0.8rem;
        padding-right: 2rem;
        padding-left: 0.5rem;
      }
      .name {
        font-size: 0.9rem;
        text-align: left;
        font-weight: 500;
        padding-left: 0;
      }
    }
  }
  .comentario {
    width: 100%;
    text-align: start;
    font-size: 0.8rem;
  }
}

.cardbody {
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.336);
  border-radius: 5px;
  // z-index: 1;
  max-width: inherit;
  width: 30rem;
  // max-height: inherit;
  // height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;

.cardData{
width: 100%;
  // height:100%;
}



  .datePosted {
    // width: 100%;
    color: gray;
    font-size: 0.75rem;
    text-align: start;
    padding-left: 0.5rem;
    margin: 0.3rem 0;
  }
  .inputCommentBox {
    width: 95%;
    display: flex;
    flex-direction: row;
    margin: 0.3rem 0;
    height: 2rem;
    // margin-left: 0.3rem;
    // background-color: orange;
    input {
      width: inherit;
      background: transparent;
      border: none;
    }

    button {
      // width: 10%;
      color: rgb(0, 174, 255);
      font-size: 0.8rem;
      border: none;
      background: none;
      cursor: pointer;
      background-color: transparent;
    }
    .btnCommentDisabled {
      color: gray;
    }
  }
  .editBox {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    .card {
      // *{outline:solid 1px red}
      background-color: rgba(255, 0, 0, 0.445);
      height: 50%;
      width: 40rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.664);
      border-radius: 5px;
      box-shadow: 0px 0px 10px black;
      .head {
        display: flex;
        align-self: flex-end;
        .buttonClose {
          height: 1rem;
          width: 1rem;
          // display: flex;
          text-align: center;
          font-size: 0.6rem;
          border: none;
          background: red;
          color: white;
          border-radius: 50%;
          transition: 0.2s;
          margin: 0.5rem;
        }
      }
      .bodycardnoedit {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .cancelar {
          background-color: red;
        }
        button {
          border: none;
          padding: 2rem;

          border-radius: 5px;
          background-color: $main-color;
          color: white;
          box-shadow: 1px 1px 5px black;
          transition: 0.3s;
        }
      }
      .bodycard {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .btnBox,
        .inputBox {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .btnBox {
          height: 20%;
          button {
            border: none;
            padding: 0.2rem 0.5rem;
            border-radius: 5px;
            background-color: $main-color;
            color: white;
            box-shadow: 1px 1px 5px black;
            transition: 0.3s;
          }
          .cancelar {
            background-color: red;
          }
        }
        .inputBox {
          height: inherit;
          textarea {
            height: 80%;
            width: 80%;
            padding: 0.5rem;
            border-radius: 5px;
            resize: none;
            box-shadow: 0px 0px 5px black;
          }
          textarea:focus {
            outline: none;
          }
        }
      }
    }
  }

  .btnVerComBox {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    button {
      background: transparent;
      font-size: 0.7rem;
      margin: 0.5rem 0;
      border: none;
    }
    .btnVerMas {
      color: rgb(0, 174, 255);
    }

    .btnVerMenos {
      color: gray;
    }
  }
}
.cardData {
  width: 100%;
// height: 40rem;
  .img {
    //border-radius: 10px;
    width: 100%;
    // height: 80%;
    object-fit: cover;
  }
}

.description {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5rem 1rem;
}

.btn {
  //   position: absolute;
  //   z-index: 3;
  right: 20px;
  top: 20px;
  font-size: 20px;
  color: white;
  border-radius: 100px;
  width: 80px;
  height: 40px;
  background-color: rgb(207, 30, 10);
  border: none;

  cursor: pointer;
}

.profilePhoto {
  flex-direction: column;
  img {
    width: 2rem;
    height: 2rem;
    box-shadow: 0px 0px 5px black;
    // border: solid 2px grey;
    border-radius: 50%;
  }
}
.btnLike {
  transition: 0s;
}

.btnLike,
.btnShare,
.btnCommit {
  //   position: absolute;
  //   z-index: 3;
  //   bottom: 90px;
  //   right: 20px;
  border-radius: 10px;
  border: none;
  font-size: 25px;
  background-color: white;
  //color: rgba(128, 128, 128, 0.767);
  color: black;

  cursor: pointer;
}

.colorLike {
  color: rgba(255, 0, 0, 0.747);
}

.btnBar {
  button {
    margin: 0 0.3rem;
    transition: 0.1s;
  }
  button:hover {
    transform: scale(0.95);
  }
}
.cardProfile {
  //   position: absolute;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  //   height: 3rem;
  text-align: left;
  margin: 0.7rem 0;
}

.profilePhoto {
  margin: 0 0.3rem;
  display: flex;
  align-items: center;
  //   position: absolute;
  border: none;
}
.profileName {
  h4 {
    font-weight: 600;
  }
}
.likes {
  //   position: absolute;
  //   left: 15px;
  width: 93%;
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 0.9rem;
  // padding-left: 0.5rem;
  //   bottom: 60px;
}

.input:focus {
  outline: none;
}

/** -------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 480px) {
  .card {
    width: 100%;
  }

  .cardbody {
    // border: solid;
    // border-color: $main-color;
    margin: 1rem 0;
    width: 100vw;
    // height: 23em;
    //border-radius: 10px;
    // margin: 0 ;
  }

  .img {
    //border-radius: 10px;
    width: 100%;
    // height:310px;
  }

  .btnComment {
    right: 25px;
  }
}
