@import "../../sass/variables";

.body {
    padding: 0;
    margin: 0;

}


.cardbody {
    position: relative;
    z-index: 1;
    background-color: white;
    border: solid;
    border-width: 0.5px;
    border-color: rgba(128, 128, 128, 0.336);
    // z-index: 1;
    max-width: inherit;
    width: 35rem;
    max-height: inherit;
    height: 31rem;
    //border-radius: 10px;
    margin:  1.5rem 0 ;
}



.img {
    //border-radius: 10px; 
    width:100%; 
    height:22em;
    object-fit: cover;
}

.description{
    display: flex;
    flex-direction: row;
}

.btn {
    position: absolute;
    z-index: 3;
    right: 20px;
    top: 20px;
    font-size: 20px;
    color: white;
    border-radius: 100px;
    width: 80px;
    height: 40px;
    background-color: rgb(207, 30, 10);
    border: none;

    cursor: pointer;
}

.profilePhoto {
    flex-direction: column;
    img {
        width: 2rem;
        height: 2rem;

        border: solid 2px grey;
        border-radius:50%;
    }
}

.btnLike, .btnShare, .btnCommit {
    position: absolute;
    z-index: 3;
    bottom: 90px;
    right: 20px;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    background-color: white;

    cursor: pointer;

}

.btnCommit {right: 65px;}
.btnLike {right: 110px;}

.btnBar {
    button:hover{
        color: grey;
    }
    button.active {
        color: red;
    }
}

.cardProfile {
    position: absolute;
    flex-direction: row;
    height: 3rem;
    text-align: left;
    padding: 10px 0;

}

.profilePhoto {
    margin-left: 10px;
    position: absolute;
}
.profileName {
    color: black;
    text-decoration: none;
    position: absolute;
    left: 50px;
    bottom: 8px;
    width: 15rem;
    font-size: 1rem;
    // margin-left: 40px ;
}   
.likes {
    position: absolute;
    left: 15px;
    bottom: 70px;
}

.description {
    position: absolute;
    left: 15px;
    bottom: 50px;
}

.datePosted {
    font-size: 0.7rem;
    color: grey;
    position: absolute;
    left: 15px;
    bottom: 35px;
}

.input {
    position: absolute;
    left: 15px;
    bottom: 13px;
    width: 80%;

    border: none;
    //border-radius: 10px;
}

.input:focus {
    outline: none;
}

.btnComment{
    position: absolute;
    right: 15px;
    bottom: 13px;
    width: 10%;
    color:rgb(0, 174, 255);
    font-size: 0.8rem;
    border: none;
    background: none;
    cursor: pointer;

}

/** -------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 768px) {

    .cardbody {
        // border: solid;
        // border-color: $main-color;
        margin: 1rem 0;
        width: 100%;
        // height: 23em;
        //border-radius: 10px;
        // margin: 0 ;
    }

    .img {
        //border-radius: 10px; 
        width: 100%; 
        // height:310px;
    }

    .btnComment{
        right: 25px;
    
    }

}

