@import "../../sass/variables";


.allLoginPage {
  //   background-color: aqua;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: $background-a;
  // background-color: #e8f0fe;
  *:focus {
    outline: none;
  }

  .contentBox {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    align-items: center;
    box-shadow: 0px 0px 5px black;
    width: 20rem;
    border-radius: 7px;
    background: #fff;
    form {
      // background-color: red;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 15rem;
      padding: 7% 0;

      .logo {
        height: 8rem;
        position: relative;
      left:1rem;
      }

      .titleText {
        border-bottom: solid 1px $main-color;
        color: rgb(36, 36, 36);
        
      }
      input {
        height: 1.8em;
        width: 100%;
        border: none;
        background: transparent;
        border: solid 1px $main-color;
        border-radius: 3px;
      }
      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px white inset;
      }
      label {
        position: relative;
        bottom: -8px;
        left: 2px;
        background: white;
        margin-left: 0.4rem;
        padding: 0 0.1rem;
        // background-color: #e8f0fe;
        font-size: 0.8rem;
        color: gray;
        // height: 5px;
        // border-radius: 15px;
      }
      .inputError {
        border: solid 1px red;
      }
      span {
        margin: 0 0;
        font-size: 0.7rem;
        color: red;
      }
      .labelInputEmailBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        margin-bottom: 0.5rem;
      }
      .labelInputPassBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        margin-bottom: 0.5rem;
      }
      .forgetPass {
        color: gray;
        font-size: 0.8rem;
      }
      .btnLogin {
        border: groove 1px $main-color;
        border-radius: 7px;
        background: $background-button;
        color: #fff;
        height: 2rem;
        transition: 0.1s;
        margin: 1rem 0 0 0;
        width: 5rem;
        letter-spacing: 1px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
      }

      .btnLogin:hover {
        box-shadow: 0px 0px 3px $main-color inset;
        background-color: $button-hover;
      }
      .btnLogin:active {
        transform: scale(0.9, 0.9);
      }
    }
    .registrate {
      color: gray;
      cursor: pointer;
    }
    .googleLog {
      height: 2.5rem;
      width: 13rem;
      background-color: $background-a;
      margin: 1rem 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      box-shadow: 1px 1px 2px gray;
      cursor: pointer;
      img {
        height: 60%;
      }
      p {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        font-size: 0.8rem;
        color: #3f3f3f;
        margin: 0 0;
      }
    }
  }
}
