@import "../../sass/variables";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  // outline: solid 1px red;
}

body {
  font-family: sans-serif;
  padding: 90px 20px 0;
}

.NavBar {
  background-color: white;
  height: 80px;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  //   background-color: red;
  box-shadow: 0px 0px 3px black;
  z-index: 5000;
}

.Nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
  //   margin: 0 auto;
  background: white;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 190px;
  margin-left: 2rem;
  img {
    height: 95%;
    width: 90%;
  }
}

.NavMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  //   margin-right: 40px;
  padding: 0 0;
  width: 70%;
  list-style: none;
  z-index: 5500;
}

/** ----------------------------------------      SearchBar    --------------------------------------------------------------------- */
.searchBarRespons {
  display: none;
}

.searchBar {
  line-height: 80px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // background: green;
  border-radius: 3rem;
  border: solid 1px $main-color;
}
.searchBar:hover {
  // background-color :red;
  transition: 0.2s;
  box-shadow: 0px 0px 5px $main-color;
}

.input {
  background-color: rgba(228, 222, 222, 0.945);
  background: transparent;
  width: 100%;
  height: 30px;
  // border-radius: 5em 0 0 5em;
  border: none;
  font-size: 1rem;
  padding-left: 0.5rem;
  color: $main-color;
}
.input:focus {
  outline: none;
}

.btn {
  // padding: 0.3em 0.5em 0.5em 0;
  // margin-top: 0.05px;
  height: 30px;
  border-radius: 0 5em 5em 0;
  border: none;
  // background-color: rgba(223, 228, 222, 0.945);
  background: transparent;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  color: $main-color;
}

.renderSearched {
  position: fixed;
  top: 0;
  // left: 0;
  // height: auto;
  // background: red;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 100%;
  li {
    // height: auto;
    background: white;
    width: 60%;
    list-style: none;
    display: flex;
    border: solid 1px $main-color;
    button {
      padding: 0.5rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      background: transparent;
      border: none;
      font-family: "Nunito", sans-serif;
      font-size: 1.2rem;
      transition: 0.2s;
      img {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 0.5rem;
      }
    }
    button:hover {
      background-color: $main-color;
      color: White;
    }
  }
}
.btnOpenSearchInNavResp {
  display: none;
}
/** ----------------------------------------      SearchBar Fin   --------------------------------------------------------------------- */

/*? ----------------------------------------      MenuItem    --------------------------------------------------------------------- */
.add {
  margin-top: 7px;
  font-size: 36px;
  width: 70px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
}

.menuItem {
  /* color: hotpink; */
  font-size: 40px;
  // padding: 10px 5px 5px 5px;
  // margin: 5px;
  width: 70px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid; */
  /* border-color: honeydew; */
  border-radius: 80px;
  transition: 0.2s;

  cursor: pointer;
  img {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: cover;
    border: solid 2px grey;
    border-radius: 50%;
  }
  img:hover {
    border: solid 2px $main-color;
  }
}

.menuItem:active {
  // background-color: rgba(172, 232, 255, 0.781);
  transform: scale(0.9);
}

.menuItem:hover {
  color: $main-color;
}

.btn_toogle {
  /* color: cornsilk; */
  background: none;
  border: none;
  // font-size: 30px;
  padding: 0 0;
  // line-height: 60px;
  cursor: pointer;

  display: none;
}
/*? ----------------------------------------      MenuItem Fin   --------------------------------------------------------------------- */

@media (max-width: 768px) {
  body {
    padding: 70px;
  }

  .NavBar {
    // height: 40px;
    // position: absolute;
    z-index: 2;
  }

  .logo {
    // font-size: 2100px;
    // padding: 0 20px;
    // line-height: 60px;
  }

  .NavMenu {
    /* position: fixed; */
    position: fixed;
    // z-index: 8;
    flex-direction: column-reverse;
    align-items: center;
    // margin-left: 20px;
    margin: 0 0;
    color: rgb(8, 8, 8);
    background-color: white;
    right: 0;
    top: 79px;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;

    height: calc(100% + 800px);
    /* height: 100%; */
    width: 180px;
    // overflow-y: auto;
    border-left: solid 1px black;
    z-index: 6501;

    transition: 0.3s;
  }

  .disable {
    right: -100vw;
  }

  .searchBar {
    // width: 5rem;
    display: none;
  }

  .input {
    width: 130px;
    height: 30px;
  }

  .menuItem {
    padding: 10px 5px 5px 5px;
  }

  .btn_toogle {
    /* position: absolute;
        z-index: 8; */
    display: flex;
    margin-right: 0.5rem;
    align-items: center;
  }

  /* .menuItem_visible {
        left: 0;
    } */

  .searchBarRespons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 6001;
    .inputBtnBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: transparent;
      width: 80%;
      // border-radius: 3rem;
      border: solid 1px $main-color;
      margin: 0.5rem 0 0 0;
      input {
        width: inherit;
        background: transparent;
        border: none;
        margin-left: 1rem;
      }
      input:focus {
        outline: none;
      }
      .btnRespons {
        height: 30px;
        border-radius: 0 5em 5em 0;
        border: none;
        background: transparent;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
      }
    }
    .btnCloseSearch {
      position: absolute;
      right: 1vw;
      top: 1vh;
      background: transparent;
      border: none;
      font-size: 1.5rem;
      transition: 0.3s;
    }
    .btnCloseSearch:hover{
      color: red;
    }
    ul {
      position: relative;
      // top: 0;
      width: 80%;
      display: flex;
      flex-direction: column;
      // background-color: green;
      li {
        width: 100%;
        list-style: none;
        display: flex;
        border: 1px solid $main-color;
        button {
          width: 100%;
          text-align: start;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          font-size: 1rem;
          font-family: "Nunito", sans-serif;
          background: transparent;
          border: none;
          img {
            height: 2.5rem;
            width: 2.5rem;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 0.3rem;
          }
        }
        button:hover {
          background: $main-color;
          color: white;
        }
      }
    }
  }
  .btnOpenSearchInNavResp {
    background: transparent;
    font-size: 40px;
    // padding: 10px 5px 5px 5px;
    // margin: 5px;
    width: 70px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    transition: 0.2s;
  }
}
