@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 90px 20px 0;
  position: -webkit-sticky;
  position: sticky;
}

.NavBar {
  background-color: white;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 0px 3px black;
          box-shadow: 0px 0px 3px black;
  z-index: 5000;
}

.Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: white;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin-left: 1rem;
}

.logo img {
  height: 95%;
}

.NavMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 0;
  width: 70%;
  list-style: none;
  z-index: 5500;
}

/** ----------------------------------------      SearchBar    --------------------------------------------------------------------- */
.btnOpenSearchInNavResp {
  display: none;
}

.searchBarRespons {
  display: none;
}

.focusSearch {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: solid 1px black;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.searchBar {
  margin-top: 13px;
  top: 0;
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  border: solid 1px black;
}

.searchBar .inputIconBox {
  width: inherit;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchBar .inputIconBox .input {
  background-color: rgba(228, 222, 222, 0.945);
  background: transparent;
  width: inherit;
  font-family: "Poppins", sans-serif;
  border: none;
  font-size: 1rem;
  padding-left: 0.5rem;
  color: #24c8e1;
}

.searchBar .inputIconBox .btn {
  margin-right: 0.3rem;
}

.input:focus {
  outline: none;
}

.btn {
  height: 30px;
  border-radius: 0 5em 5em 0;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  color: #24c8e1;
}

.renderSearched {
  padding: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.renderSearched li {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.renderSearched li button {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: transparent;
  border: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.renderSearched li button img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 0.5rem;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.renderSearched li button:hover {
  color: #24c8e1;
}

.liBoxSearchResponsive {
  display: none;
}

/** ----------------------------------------      SearchBar Fin   --------------------------------------------------------------------- */
/*? ----------------------------------------      MenuItem    --------------------------------------------------------------------- */
.add {
  font-size: 1.9rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 80px;
}

.add div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuItem {
  /* color: hotpink; */
  font-size: 2rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* border: solid; */
  /* border-color: honeydew; */
  border-radius: 80px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.menuItem .btnNotifi {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuItem .btnNotifi p {
  color: white;
  background-color: red;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.6rem;
  position: absolute;
  top: 15px;
}

.menuItem img {
  height: 2.5rem;
  width: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid 2px grey;
  border-radius: 50%;
}

.menuItem img:hover {
  border: solid 2px #24c8e1;
}

.menuItem:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btn_toogle {
  /* color: cornsilk; */
  background: none;
  border: none;
  padding: 0 0;
  cursor: pointer;
  display: none;
}

/*? ----------------------------------------      MenuItem Fin   --------------------------------------------------------------------- */
@media (max-width: 768px) {
  body {
    padding: 70px;
  }
  .NavBar {
    z-index: 2;
  }
  .NavMenu {
    /* position: fixed; */
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0;
    color: #080808;
    background-color: white;
    right: 0;
    top: 59px;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: calc(100% + 800px);
    /* height: 100%; */
    width: 180px;
    border-left: solid 1px black;
    z-index: 6501;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .disable {
    right: -100vw;
  }
  .searchBar {
    display: none;
  }
  .input {
    width: 130px;
    height: 30px;
  }
  .menuItem {
    margin: 0.3rem 0;
  }
  .add {
    margin: 0.3rem 0;
  }
  .btn_toogle {
    /* position: absolute;
        z-index: 8; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* .menuItem_visible {
        left: 0;
    } */
  .searchBarRespons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 6001;
  }
  .searchBarRespons .inputBtnBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: transparent;
    width: 80%;
    border: solid 1px #24c8e1;
    margin: 0.5rem 0 0 0;
  }
  .searchBarRespons .inputBtnBox input {
    width: inherit;
    background: transparent;
    border: none;
    margin-left: 1rem;
  }
  .searchBarRespons .inputBtnBox input:focus {
    outline: none;
  }
  .searchBarRespons .inputBtnBox .btnRespons {
    height: 30px;
    border-radius: 0 5em 5em 0;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .searchBarRespons .btnCloseSearch {
    position: absolute;
    right: 1vw;
    top: 1vh;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .searchBarRespons .btnCloseSearch:hover {
    color: red;
  }
  .searchBarRespons ul {
    position: relative;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .searchBarRespons ul li {
    width: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #24c8e1;
  }
  .searchBarRespons ul li button {
    width: 100%;
    text-align: start;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    background: transparent;
    border: none;
  }
  .searchBarRespons ul li button img {
    height: 2.5rem;
    width: 2.5rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    margin-right: 0.3rem;
  }
  .searchBarRespons ul li button:hover {
    background: #24c8e1;
    color: white;
  }
  .btnOpenSearchInNavResp {
    background: transparent;
    font-size: 2rem;
    width: 70px;
    margin-top: 7px;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}
/*# sourceMappingURL=NavBar.module.css.map */