@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  background-color: #f0f0f0;
  background-image: url('./sass/hojas.png');
  background-attachment: fixed;

}


.LoadingPage{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingApp {
  
  height: 2rem;
}
