@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");
.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  font-weight: 500;
  margin-top: 80px;
}

.Register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background: #f6f6f6;
}

.big-continer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  height: 25rem;
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  border: none;
  border-radius: 7px;
  background: #fff;
}

.form-continer {
  width: 60%;
  height: 90%;
  font-family: "Raleway", sans-serif;
  padding-top: 10px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: #fff;
}

.input {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 20px;
  margin-top: 25px;
  -webkit-box-shadow: 2px 2px 10px 1px #2dcce6;
          box-shadow: 2px 2px 10px 1px #2dcce6;
  font-size: 16px;
}

.input:focus {
  border: 1px solid #0373b6;
}

.input-tag {
  margin: 10px 0px 5px -180px;
}

.rigth-continer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#2dcce6), color-stop(38%, #50a4df), color-stop(96%, #0373b6));
  background: linear-gradient(180deg, #2dcce6 0%, #50a4df 38%, #0373b6 96%);
  color: #fff;
  width: 40%;
  border-radius: 0px 7px 7px 0px;
}

.rigth-continer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  width: 80%;
}

.rigth-continer ul li {
  margin-bottom: 10px;
}

.buttons {
  margin-top: 30px;
  width: 120px;
  height: 40px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#2dcce6), color-stop(38%, #50a4df), color-stop(96%, #0373b6));
  background: linear-gradient(90deg, #2dcce6 0%, #50a4df 38%, #0373b6 96%);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.buttons:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.buttons:active {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.error {
  text-align: left;
  font-size: 14px;
  color: #000;
  font-weight: 500;
  max-width: 60%;
  margin-top: 20px;
}

.footer-text {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}

.footer-text a {
  text-decoration: none;
}

.succes {
  color: #0ABC0A;
  font-weight: 700;
}

.rigth-h2 {
  margin-top: 50px;
}

@media (max-width: 850px) {
  .Register {
    height: 100vh;
    top: 0;
  }
  .title {
    font-size: 30px;
    font-weight: 700;
  }
  .big-continer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    height: 70%;
    margin-top: 60px;
  }
  .form-continer {
    width: 80%;
    height: 90%;
    padding-top: 5px;
  }
  .rigth-continer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 0px;
  }
  .rigth-continer ul li {
    display: none;
  }
  .rigth-h2 {
    height: 70px;
    border-radius: 7px;
  }
  .input {
    width: 80%;
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .Register {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    background: #f6f6f6;
  }
  .title {
    font-size: 26px;
    color: #000;
  }
  .big-continer {
    width: 100%;
    height: 80vh;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .rigth-continer {
    display: none;
  }
  .form-continer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
    height: 90%;
  }
  .buttons {
    -webkit-box-shadow: 0.3px 0.3px 5px #141b42;
            box-shadow: 0.3px 0.3px 5px #141b42;
    height: 10%;
  }
  .footer-text {
    margin-top: 50px;
  }
  .form {
    background: #f6f6f6;
  }
}
/*# sourceMappingURL=Register.css.map */